{% extends "layout.html" %}
{% block body %}
<!-- Index Page -->

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/mountain.jpg" alt="">
                <div class="intro-text">
                    <span class="name">Climbing Sweatspot</span>
                    <hr class="star-light">
                    <span class="skills">
                        Climbing Sweatspot logs your climbing data. It uses GPS and sensor data to analyze your climbing course. It helps you find the "Sweatspot" where everyone stops to see the beautiful spot of the Nature.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Form Section -->
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Start Log Now</h2>
                <hr class="star-primary">

                <a href="/logging"><h2>Logging</h2></a>

                <br>
                <a href="/logplot/80"><h2>View Log</h2></a>
            </div>
        </div>

    </div>

</section>

{% endblock %}
